.qmake.stash
Makefile
*.o
moc_*.cpp
moc_*.h
ui_colladadialog.h
libv_repExtOpenGL3Renderer.1.0.0.dylib
libv_repExtOpenGL3Renderer.1.0.dylib
libv_repExtOpenGL3Renderer.1.dylib
libv_repExtOpenGL3Renderer.dylib
libv_repExtOpenGL3Renderer.so
libv_repExtOpenGL3Renderer.so.1
libv_repExtOpenGL3Renderer.so.1.0
libv_repExtOpenGL3Renderer.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
mocinclude.opt
v_repExtOpenGL3Renderer.pro.user
